<Layouts.auth heading={@heading} subtitle="Request a new one to reset your password.">
  <.auth_container class="flex justify-center">
    <.button_link href={Routes.auth_path(@conn, :password_reset_request_form)} mt?={false}>
      Send new reset link
    </.button_link>
  </.auth_container>
</Layouts.auth>
